html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background: url('background.png') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Prompt', sans-serif;
}

.content {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 8vw;
    color: #ffffff;
    text-shadow: 3px 3px 4px #8787b5;
}

.copyright {
    text-align: center;
    font-size: 0.75rem;
    padding: 20px 0;
    width: 100%;
    color: #ffffff;
}
